.main-nav{
    background-color: #F78B00;
    min-height: 70px;
    padding-left: 40px;
}

.main-menu{
    display: flex;
    font-size: 16px;
    width: 200px;
    justify-content: space-between;
    text-align: left;
}

.main-menu a.active {
    color: #00285F;
    font-weight: bold;
}
.container-fluid h4{
    font-size: 24px;
    font-weight: bold;
}